<% if (false/*post.comments*/) { %>
<span class="comment-counter">
    <i class="fa-regular fa-comments"></i>
    <% if (theme.comment.disqus) { %>
        <span class="disqus-comment-count" data-disqus-identifier="<%= post.disqusId || '' %>" data-disqus-url="<%= post.permalink %>">0</span>
    <% } else if (theme.comment.duoshuo) { %>
        <span class="ds-thread-count" data-thread-key="<%= post.path %>">0</span>
    <% } %>
</span>
<% } %>
<% var showLeaf = post.categories && post.categories.length && post.categories.data[post.categories.length - 1].slug === 'Z-Ambiente/Consigli-Green'; %>
<% if (showLeaf) { %>
<span class="green-flag">
    <i class="fa-solid fa-leaf"></i>
</span>
<% } %>