.ingredients
  background: #ffffa5
  padding: 15px
  margin: 25px
  font-family: "Lucida Handwriting", fantasy, cursive
  display: inline-block
  font-size: 80%

  br
    display: none;

  @media (max-width: 767px)
    font-size: 70%

  box-shadow: 2px 4px 6px #444
  -moz-box-shadow: 2px 4px 6px #444
  -webkit-box-shadow: 2px 4px 6px #444

  transform: rotate(-2deg)
  -moz-transform: rotate(-2deg)
  -webkit-transform: rotate(-2deg)
  -o-transform: rotate(-2deg)
  -ms-transform: rotate(-2deg)

  .ingredients-title
    font-weight: bold
    font-size: 120%

  table
    td
      border: 0
      padding-top: 2px
      padding-right: 30px


.sub-body-header
        background: #fff
        padding: 18px 30px 17px
        border-bottom: 1px solid color-border-light
        border-top: 1px solid color-border-light
        color: color-default + #111
        font-size: 24px
        font-weight: 600
        text-transform: uppercase
        line-height: 24px
        margin-top: 0
        text-align: center
        .page-title-link, i
            margin-right: 8px
        i
            font-weight: 400
        em, a
            @extend $block-caption
            color: color-grey


#flake
	color: #fff
	position: absolute
	font-size: 25px
	top: -50px
	z-index: 1000

