<footer id="footer">
    <div class="container">
        <div class="container-inner">
            <a id="back-to-top" href="javascript:;"><i class="icon fa fa-angle-up"></i></a>
            <div class="credit">
                <div style="float: left;">
                  <h1 class="logo-wrap">
                      <a href="<%- url_for() %>" class="logo"></a>
                  </h1>
                  <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
                  <p>Powered by <a href="//hexo.io/" target="_blank">Hexo</a>. Theme by <a href="//github.com/ppoffice" target="_blank">PPOffice</a></p>
                </div>
                <div class="adsense" style="margin-top: 20px; float:right;">
                  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <!-- footer -->
                  <ins class="adsbygoogle"
                       style="display:inline-block;width:320px;height:100px"
                       data-ad-client="ca-pub-2174223436739417"
                       data-ad-slot="7417515483"></ins>
                  <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div><!-- /.adsense -->
            </div>
        </div>
    </div>
</footer>
